
.oswald-leftLogo {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 1.5em;
}
.oswald-leftContent {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
  .oswald-text {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-weight: lighter;
  }
#dashboard{
    grid-area: dashboard;
    background-color: #244855;
    display: flex;
    flex-direction: column;
}
#leftLogo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#leftLogo:hover{
    text-decoration: 2px underline #E64833;
}
#leftContent{
    grid-area: leftContent;
}
#leftContent div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}
#leftContent div:hover{
    text-decoration: 2px underline #E64833;
}

#dashboard div{
    padding: 10px;
}

#dashboard a{
    text-decoration: none;
    color: #E64833;
}
#main{
    grid-area: main;
}
body{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20% ;
    grid-template-rows: auto;
    grid-template-areas: "dashboard main main main main " ;

}
header{
    background-color: #90AEAD;
    padding-left: 5%;
    padding-right: 7.5%;
}
#navRight{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}
#navRightPhoto{
    height: 3em;
    width: 3em;
    border-radius: 1.5em;
    background-color: #E64833;
}

nav{
    display: flex;
    flex-direction: column;
    gap: 20px;
    grid-area: nav;
    justify-content: space-between;
    
}
#navMainSearch{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
}
#navMainSearch input{
    width: 50%;
    border: none;
    border-radius: 0.5em;
    height: auto;
}
#navSecond{
    grid-area: navSecond;
}

#headerButton{
    grid-area:  headerButton;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#headerButton button{
    border: none;
    border-radius: 1em;
    padding-right: 1em;
    width: 25%;
    height: 2em;
    background-color: #244855;
}
#headerButton button:hover{
    border:2px solid #E64833;
}
header{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 40% auto 40%;

    grid-template-areas: "nav nav nav" "navSecond . headerButton";

    align-items: center;
}
#main{
    box-sizing: content-box;
}

#mainContent{
    padding: 2em;
    display: grid;
    grid-template-columns: 60% 25%;
    grid-template-rows: auto;
    grid-template-areas: 'projects announcements' 'projects trending';

}
#projects{
    grid-area: projects;
}
#projectsContainer{
    display: grid;
    grid-template-columns: 40% 40%;
    grid-template-rows: auto;
    gap: 10%;
}
.project{
    border-radius: 0.5em;
    border-left: 5px solid #874F41;
    padding: 5%;
    display: grid;
    background-color: #FBE9D0;
    grid-template-columns: 30% 30% 30%;
    grid-template-rows: auto;
    grid-template-areas: 'title . .' 'description description description' '. . buttons';
}
.project h2{
    grid-area: title;
}
.project p{
    grid-area: description;
}
.project div{
    grid-area: buttons;
}
#announcements{
    grid-area: announcements;

}
#trending{
    grid-area: trending;
}